@import "../../app.component.scss";
@import "../../styles/spinners";
@import "../../styles/colors";

.bisection-content .results .values label{
    margin: 10px;
    margin: 14px;
    font-size: large;
    font-weight: 700;
}

.bisection-content .card .card-body .custom-select label {
    width: 90%;
    height: 32px;
    margin: 10px;
    padding: 10px;
}