//grays colors
$gray: #b1b4b9;
$gray-light: #ebebeb00;
$gray-dark: #b1b4b9;
$gray-ultradark: #b1b4b9;

$primary-color: #012970;
$secondary-color:  #4154f3;
$light-color: #f6f9ff;

$primary-text: #012970;
$secondary-text:  #4154f3;
$text-opacity: #899bbd;

