@import "../../app.component.scss";
@import "../../styles/spinners";
@import "../../styles/colors";

.newton-content .results .values {
    display: flex;
    justify-content: space-between;
}


.newton-content .results .values label{
    margin: 10px;
    margin: 14px;
    font-size: large;
    font-weight: 700;
    text-align: center;
}

// .newton-content .results .points, 
// .newton-content .results .points-evaluations {
//     padding: 0px 15px;
//     display: flex;
// }

.newton-content .card .card-body .custom-select label {
    width: 90%;
    height: 32px;
    margin: 10px;
    padding: 10px;
}