<!-- Toolbar -->


<div class="content">
  
  <nav class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="../favicon.ico" />
    <div class="pagetitle"><span>Math Space</span></div> 
    <div class="spacer"></div>
  </nav>

  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav">
      <li class="nav-item">

        <span class="separator"><hr> Error de máquina <hr></span>
        <a class="nav-link" routerLink='/floating-point'  routerLinkActive="active">
          <i class="icon-number-1"></i>
          <span>Punto Flotante</span>
        </a>


        <span class="separator"><hr> Metodos de búsqueda <hr></span>
        <a class="nav-link" routerLink='/biseccion'  routerLinkActive="active">
          <i class="icon-number-2"></i>
          <span>Bisección</span>
        </a>

        <a class="nav-link" routerLink='/secante'  routerLinkActive="active">
          <i class="icon-number-3"></i>
          <span>Secante</span>
        </a>

        <a class="nav-link" routerLink='/newthon-raphson'  routerLinkActive="active">
          <i class="icon-number-4"></i>
          <span>Newton Raphson</span>
        </a>

        <a class="nav-link" routerLink='/regula-falsi'  routerLinkActive="active">
          <i class="icon-number-5"></i>
          <span>Regla Falsa</span>
        </a>

        <span class="separator"><hr> Iterpolación <hr></span>
        <a class="nav-link" routerLink='/interpolation'  routerLinkActive="active">
          <i class="icon-number-6"></i>
          <span>Interpolación polinomial</span>
        </a>

        <span class="separator"><hr> Solución de ecuaciones<hr></span>
        <a class="nav-link" routerLink='/gauss-jordan'  routerLinkActive="active">
          <i class="icon-number-7"></i>
          <span>Gauss Jordan</span>
        </a>

        <a class="nav-link" routerLink='/gauss-seid'  routerLinkActive="active">
          <i class="icon-number-8"></i>
          <span>Gauss Seidel</span>
        </a>

      </li>
    </ul>
  </aside>

  <main id="main" class="main">
    <router-outlet></router-outlet>
  </main>

</div>