 @import "./styles/icons";
 @import "./styles/colors";
 @import "./styles/spinners";

:host {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    header {
        display: flex;
        min-width: 34.8rem;
        justify-content: space-between;
        margin-bottom: 10px;
    
        .spinner.outside {
            top: -15px;
            right: 44px;
        }
    }

    .pagetitle {
        
        span {
            font-size: 26px;
            font-weight: 700;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 600;
        }
        
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

// color del scroll #aab7cf

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: fixed;
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    color: $primary-text;
    font-weight: 700;
    z-index: 50;
}

.toolbar img {
    margin: 0 16px;
    margin-right: 0px;
}


.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 18%;
    max-width: 230px;
    min-width: 160px;
    z-index: 40;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
    background-color: #fff;

    .sidebar-nav {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar-nav .nav-item {
        margin-bottom: 5px;
    }

    .sidebar-nav .nav-item {

        .separator {
            display: flex;
            justify-content: space-between;
            margin: 10px 2px;
            text-align: center;
            font-weight: bold;
            color: #cdcdcd;
        }

        .separator hr {
            width: 14px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 10px;
        }
    }

    .sidebar-nav .nav-item a{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s all;
        padding: 10px 15px;
        border-radius: 4px;
        color: $primary-text;

        &.active, &:hover {
            background: #f6f9ff;
            color: #4154f1;
        }
    }
}

.main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
    margin-left: 22%;

    @media (max-width: 925px) {
        margin-left: 184px;
    }
}