<!-- Toolbar -->


<div class="content">
  
  <nav class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="../favicon.ico" />
    <div class="pagetitle"><span>Math Space</span></div> 
    <div class="spacer"></div>
  </nav>

  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav">
      <li class="nav-item">

        <a class="nav-link" routerLink='/floating-point'  routerLinkActive="active">
          <i class="icon-number-one"></i>
          <span>Punto Flotante</span>
        </a>

        <a class="nav-link" routerLink='/interpolation'  routerLinkActive="active">
          <i class="icon-number-two"></i>
          <span>Interpolación polinomial</span>
        </a>

        <a class="nav-link" routerLink='/gauss-jordan'  routerLinkActive="active">
          <i class="icon-number-four"></i>
          <span>Gauss Jordan</span>
        </a>

        <a class="nav-link" routerLink='/gauss-seid'  routerLinkActive="active">
          <i class="icon-number-three"></i>
          <span>Gauss Seidel</span>
        </a>

      </li>
    </ul>
  </aside>

  <main id="main" class="main">
    <router-outlet></router-outlet>
  </main>

</div>